.tab-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 64px;
  margin-bottom: 50px;
}

.tab-panel__item  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px;
  background: rgba(202, 200, 200, 0.94);
  border-radius: 5px;
  width: 200px;
  height: 70px;
}

.tab-panel__item-icon {
  margin-right: 10px;
}

.tab-panel__item-num {
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

.tab-panel__item-text {
  font-size: 20px;
  line-height: 23px;
  color: #9A9696;
}